/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font */
@font-face {
  font-family: "TT Firs Neue";
  src: url("./assets/fonts/TT-firs-neue/TTFirsNeueVarRoman.ttf") format("ttf");
}

/* Global styles */
html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(-45deg, #f6f6f7 0%, #ffff 100%);
}