@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TT Firs Neue";
  src: url("./assets/fonts/TT-firs-neue/TTFirsNeueVarRoman.ttf") format("ttf");
}

html {
  font-size: 62.5%;
}
